.navlinkToggle {
  display: flex !important;
  transform: translate(0, calc(100vh * 0.8)) !important;
}

.sideMenuToggle {
  /* display: block !important; */
  /* width: 300px !important; */
  transform: translate(0, 0) !important;
  transition: ease 0.5s !important;
}
